body {
  background-color: #EEEEEE;
}

h1 {
  font-size: 25px;
  font-family: Arial;
}

div{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 0.5rem;
  margin: auto;
}
